.App {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message-history {
  flex: 1;
  border-color: black;
  border-width: 1px;
  overflow: scroll;
  margin: 15px 15px 0;
}

.message {
  display: flex;
  flex-flow: wrap row;
}

.message .username {
  margin-right: 0.5em;
  color: darkred;
  font-weight: bold;
}

.chat-input {
  display: inline-flex;
  flex-wrap: nowrap;
  min-height: 2em;
  margin: 10px;
}

.chat-input > input {
  flex-grow: 5;
}

.chat-input > button {
  background-color: royalblue;
  color: white;
  font-weight: bold;
  width: 80px;
}

